.navBar {
    display: flex;
    background-color: var(--white);
    align-items: center;
    margin: 2rem 3rem;
    justify-content: space-between;
    padding: 0 3.5rem;
}

.navBar__menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.logo {
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  color: #0290ff;
}

li {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    padding: 2rem;
}

li a {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.9px;
    text-decoration: none;
    color: black;
}

.user {
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    width: 50px;
}

