.form {
  margin: 3rem 1.3rem;
  border-top: 1px solid gainsboro;
  padding: 2rem 0;
}

.add-book__header {
  margin-bottom: 2rem;
  color: gray;
}

.add-book-form {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.add-book__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-input {
  width: 60%;
  border: 1px solid #e8e8ee;
  padding: 0.7rem;
}

.author-input {
  width: 20%;
  border: 1px solid #e8e8ee;
  padding: 0.7rem;
}

.submit-btn {
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
  padding: 0.7rem 2rem;
  border: none;
}
